* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: garamond;
}

p main {
    font-size: 1.8rem;
}

a {
    color: #f3ca20;
}

header {
    background-color: #2c2c2c;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button {
    position: relative;
    top: 25px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    background-color: #f3ca20;
}

.button:hover {
    background-color: #2c2c2c;
    color: #f3ca20;
    cursor: pointer;
}

button p {
    font-size: 12px;
}

#button1 {
    height: 30px;
    width: 70px;
    border-radius: 30px;
    font-size: 15px !important;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

#button2 {
    height: 100px;
    width: 300px;
    border-radius: 300px;
    font-size: 50px !important;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    -ms-border-radius: 300px;
    -o-border-radius: 300px;
    margin-bottom: 100px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2)
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav ul {
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}

main {
    background-color: #fefee2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* width: 100%; */
}

#Banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero-education-.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    margin-bottom: 100px;
    width: 100%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    text-shadow: 5px 5px 5px black;
}
#Banner article {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #f3ca20;
    text-align: center;
    width: 40%;
    font-size: 25px;
}

h2{
    text-align: center;
    color: #f3ca20;
    text-shadow: 3px 3px 3px black; 
    margin-bottom: 20px;
    font-size: 20px;
}

#Description {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

#Description h1 {
    color: c;
    font-size: 40px;
    width: 100%;
}

#Description article {
    border: 2px solid #181818;
    width: 60%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2)

}

#Description p {
    margin-bottom: 20px;
}

#Description img {
    width: 100%;
    height: 100%;
}

#commercial {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}

#commercial {
    width: 70%;
}


#donate {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;

    height: 50px;
    background-color: #2c2c2c;
}

@media screen and (min-width : 1025px) and (max-width : 1480px) {

    header {
        background-color: #2c2c2c;
        height: 150px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }


    #Banner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero-education-.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
        /* position: relative;
    background-position: center; */
    }

    #Description {
        width: 80%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

   #Description article {
        border: 1px solid #181818;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
    }

    #text {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 70%;
        text-align: center;
    }

    .button {
        position: relative;
        top: 0px;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        margin-bottom: 10px;
        border: 1px solid;
        background-color: #f3ca20;
    }

    .button:hover {
        background-color: #2c2c2c;
        color: #f3ca20;
        cursor: pointer;
    }

    #button2 {
        height: 200px;
        width: 600px;
        border-radius: 300px;
        -webkit-border-radius: 300px;
        -moz-border-radius: 300px;
        -ms-border-radius: 300px;
        -o-border-radius: 300px;
        box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
    }
    #button2:hover {
        height: 250px;
        width: 650px;
    }

    #button1 {
        height: 60px;
        width: 140px;
        border-radius: 30px;
        font-size: 30px !important;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    }
    #button1:hover {
        height: 70px;
        width: 150px;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
}

    #button2 p {
         font-size: 100px !important;
    }
    #button1 p {
         font-size: 24px !important;
    }

    li a:hover{
        color: #f3ca20;
        text-shadow: 5px 5px 5px black; 
        height: 50px;
        width: auto;
        font-size: 20px;
        text-align: center;
        font-size: 30px;
        }

    a {
        font-size: 24px;
    }

    p {
        font-size: 24px;
    }

    h1 {
        color: #f3ca20;
        text-align: center;
        width: 40%;
        font-size: 3em;
        font-weight: bold;
        text-shadow: 5px 5px 5px black; 
    }

    h2{
    text-align: center;
    color: #f3ca20;
    text-shadow: 5px 5px 5px black; 
    margin-bottom: 20px;
    font-size: 2em;
}

}