*{padding: 0px;
margin: 0px;
box-sizing: border-box;
}

main{
    width: 100%;
    height: auto;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    
}

section{
    border: black solid 2px;
    width: 25%;

}

article{
    width: 100%;
    /* height: 200px; */
}

img{
    width: 100%;
    height: 200px;
}

figcaption{
    align-items: center;
    align-content: center;
    color: gold;
    justify-content: center;
    text-justify: center;
}

#image{
    background-image: url(../chef-de-mission-humanitaire-Copier.jpg);
    height: 200px;
}